<aside class="aside">
  <div class="card card-aside aside__title nav-top">
    <div class="aside__title__text-container">
      <h3 class="aside__title__text">Frontend Mentor</h3>
      <p class="aside__title__text">Feedback Board</p>
    </div>
    <button class="btn--hamberger" aria-label="nav button" aria-roledescription="navigation button">
      <span class="line line1"></span><span class="line line2"></span
      ><span class="line line3"></span>
    </button>
  </div>
  <div class="nav-bottom">
    <div class="nav-bottom__left"></div>
    <div class="nav-bottom__container">
      <div class="card card-aside aside__category">
        <div class="aside__cat__header">
          <button class="pan pan--primary btn--cat">All</button>
          <button class="pan btn--cat">UI</button>
          <button class="pan btn--cat">UX</button>
        </div>
        <div class="aside__cat__content">
          <button class="pan btn--stat">Enhancement</button>
          <button class="pan btn--stat">Bug</button>
          <button class="pan btn--stat">Feature</button>
        </div>
      </div>
      <div id="aside__roadmap" class="card card-aside aside__roadmap">
        <header class="aside__roadmap__header">
          <h2 class="roadmap__heading">Roadmap</h2>
          <a class="view" href="/roadmap">view</a>
        </header>
        <header class="aside__roadmap__content">
          <ul class="list">
            <li class="list__item">
              <a href="" class="list__link">
                <span class="signal planned-signal"></span>Planned</a
              >
              <span class="roadmap__count total--planned">0</span>
            </li>
            <li class="list__item">
              <a href="" class="list__link"
                ><span class="signal inprogress-signal"></span>In-progress</a
              >
              <span class="roadmap__count total--inprogress">0</span>
            </li>
            <li class="list__item">
              <a href="" class="list__link"
                ><span class="signal live-signal"></span>Live</a
              >
              <span class="roadmap__count total--live">0</span>
            </li>
          </ul>
        </header>
      </div>
    </div>
  </div>
</aside>
