@font-face {
  font-family: jost;
  src: url("../assets/Jost-VariableFont_wght.ttf");
}
:root {
  --color-primary: #4661e6;
  --color-secondary: #373f68;
  --color-ternary: #647196;
  --color-quard: #f2f4ff;
  --color-cinq: #3a4374;
  --color-siss: #62bcfa;
  --color-septo: #ad1fea;
  --color-octo: #f7f8fd;
  --color-accent: #e74c3c;
  --color-success: #2ecc71;
  --color-fun: #f49f85;
  --color-warning: #f1c40f;
  --color-headings: #ecf0f1;
  --color-links: #ecf0f1;
  --color-body: #d8d8eb;
  --color-border: #95a5a6;
  --color-hover: #f7f7f742;
  --border-radius: 8px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  background-color: var(--color-body);
  font-size: 1.5rem;
  font-family: jost, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.25px;
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.25px;
}
h3 {
  font-size: 1.8rem;
  letter-spacing: 0.25px;
}
h4 {
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  transition: all ease 0.4s;
}
span {
  display: inline-flex;
}
/* App container */
.container {
  /* margin: 8rem 4rem; */

  align-self: center;
  /* vertical-align: middle; */
  width: 1080px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  max-width: 1110px;
  position: relative;
}

/* Aside  */
.aside {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  padding: 0;
  justify-content: start;
  justify-self: start;
  /* overflow: hidden; */
}

/* Aside cards */
.aside .card {
  background-color: #fff;
  height: 150px;
  width: 100%;
  padding: 2rem;
}
.card {
  height: 100px;
  width: 100%;
  /* background-color: #2ecc71; */
  border-radius: var(--border-radius);
}
.aside__title {
  background-image: url("../assets/suggestions/desktop/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4rem;
}
.aside__title > h3 {
  color: #fff;
}
.aside__title > p {
  color: #fff;
  font-size: 1.5rem;
}
.aside__cat__header {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.aside__cat__content {
  display: flex;
  flex-wrap: wrap;
}
.card.aside__roadmap {
  display: flex;
  /* width: 25.5rem; */
  height: 17.8rem;
}

.roadmap__count {
  font-weight: 900;
  color: #647196;
}
.nav-bottom__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.aside__roadmap .aside__roadmap__content .list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card.aside__roadmap .aside__roadmap__content .list .list__item {
  display: flex;
  justify-content: space-between;
}
/* pan */
.pan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  color: var(--color-primary);
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--color-quard);
  padding: 1rem;
  font-weight: 600;
}
.uvoptes {
  font-size: 1rem;
  font-weight: 600;
}
.btn--cat {
  /* background-color: red; */
  font-size: 1rem !important;
  font-weight: 600;
}
.pan--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.aside__cat__header .pan {
  margin-right: 1rem;
  width: 45px;
  height: 20px;
}
.aside__cat__content {
  gap: 2rem;
}
.aside__cat__content .pan {
  padding: 0.5rem 1rem;
}
.aside__roadmap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.aside h3,
.aside p {
  color: #fff;
}
.view {
  color: var(--color-primary);
  text-decoration: underline;
}
.aside__roadmap__header {
  /* background-color: #2ecc71; */

  justify-content: space-between;
  display: flex;
  align-items: center;
}
.nav-bottom__container {
  display: flex;
}
.aside__roadmap__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aside__roadmap__content .list {
  /* background-color: rebeccapurple; */
  width: 100%;
}
.aside__roadmap__content .list__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: #4661e6; */
}
.aside__roadmap__content .list__link {
  display: flex;
  align-items: center;
}

.signal {
  height: 6px;
  width: 6px;
  background-color: #2ecc71;
  border-radius: 100%;
  margin-right: 1rem;
}
.live-signal {
  background-color: var(--color-success);
}
.planned-signal {
  background-color: #e7b13c;
}
.inprogress-signal {
  background-color: #9c119c;
}
/* header */
.suggestion-sort {
  display: flex;
  /* background-color: #2ecc71; */
  width: 400px;
  height: 50px;
  /* justify-content: center;
  align-items: center; */

  position: relative;
}
.collappseHeader {
  position: relative;
  width: 250px;
  align-self: start;
  justify-self: start;
  background-color: #4661e6;
}
.active-sort {
  padding-left: 0.2rem;
}
.collapseContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.7rem;
  justify-content: center;
  align-items: start;
  width: 600px;
}

.collappseHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}
.icons {
  height: 10px;
  width: 15px;
  stroke: #fff;
  /* fill: #fff; */
  color: #fff;
  margin-left: 0.6rem;
  transition: 0.4s all ease;
  /* background-color: #2ecc71; */
}
.collapseContainer.active .icons {
  transform: rotate(180deg);
}
.collapseContainer .collapseContent {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--color-ternary);
  /* position: absolute; */
  background-color: #4661e6;
  width: 250px;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8rem;
  font-size: 1.7rem;
  transition: 0.25s ease all;
  opacity: 0;
  visibility: hidden;
  height: 0;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.357);
}
.collapseContainer.active .collapseContent {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.collapseContent .sortItem {
  /* padding: 0.7px 2rem; */
  background-color: #2ecc71;
  width: 100%;
  /* background-color: #373f68 */
}
.collapseContent .sortItem {
  font-weight: 500;
  font-size: 1.7rem;
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  color: var(--color-ternary);
  transition: 0.4s all ease;
  border-bottom: 1px solid lightgray;
}
.sortItemBtn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sortItemBtn:hover {
  color: var(--color-septo);
  border-color: lightgray;
}
.collapseContent .sortItem .sortItemBtn.active::after {
  content: url("../assets/shared/icon-check.svg");
}
.sortItem:last-of-type {
  border: none;
}
/* Blocs */

/* Main Blocks */
.bloc--suggestion {
  background-color: var(--color-body);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.card {
  width: 100%;
  height: 150px;
  background-color: #fff;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: #2ecc71; */
    margin: 0;
    justify-content: flex-start;
    padding: 4rem;
  }
  .aside {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: #e74c3c; */
  }
  .nav-bottom__container {
    flex-direction: row;
  }
  .bloc--suggestion {
    /* background-color: blue; */

    padding: 0;
  }
  .roadmap__heading {
    font-size: 1.2rem;
  }
  .view {
    font-size: 1.2rem;
  }
}
/* suggestion header */
.suggestion__header {
  background-color: var(--color-secondary);
  height: 7.2rem;
  width: 825px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.suggestion__header__left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10rem;
}
.suggestion__header__headline {
  display: flex;
  /* background-color: #2ecc71; */
  color: #fff;
}
.icon {
  display: inline-flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  background: url("../assets/suggestions/icon-suggestions.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.suggestion__header__headline .count {
  display: inline-flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 1rem;
}
/* Suggestion content  */

.suggestion__content,
.add__container,
.edit__container {
  background-color: var(--color-body);
  border-radius: var(--border-radius);
  height: 80%;
  width: 100%;
  gap: 2rem;
}

/* btn */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  border-radius: calc(var(--border-radius) + 4px);
  outline: 0;
  border: 0;
  font-size: 2rem;
  color: #fff;
  background-color: var(--color-septo);
}

.btn:hover {
  filter: brightness(1.1);
}
.btn:active {
  filter: brightness(1.5);
}
.btn--default {
  background-color: var(--color-secondary);
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
}
.btn--accent {
  background-color: var(--color-accent);
}
.btn--reply {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 700;
}
.btn--hamberger {
  display: none;
}
.btn--delete {
  background-color: var(--color-accent);
}
.btn--add-feedback {
  width: 16rem;
  height: 4.4rem;
  font-size: 1.4rem;
}
.btn--goback2 {
  background-color: transparent;
  text-decoration: underline;
  color: #fff;
  font-weight: 600;
  flex-direction: row;
}
.btn--goback2::before {
  content: url("../assets/shared/icon-arrow-left.svg");
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
}
/* Suggestion Sort */
.suggestion-sort {
  color: #fff;
}
.suggestion-sort > select {
  background-color: transparent;
  border: 0;
  outline: 0;
}
/* Card suggestion content */
.card--suggestion-content {
  display: flex;
  align-items: flex-start;
  /* background-color: #2ecc71; */
  padding: 3rem auto;
  height: fit-content;
}
.card--suggestion-content .right,
.card--suggestion-content .left {
  color: var(--color-secondary);
  padding: 2rem;
}
.card--suggestion-content .left .pan {
  /* background-color: #4661e6; */
  color: var(--color-secondary);
  width: 25px;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.card--suggestion-content .left .pan::before {
  content: url("../assets/shared/icon-arrow-up.svg");
}
.card--suggestion-content .right .header h2 {
  margin: 0;
}
/*****************************Feedback details******************************/
.feedBack-detail {
  width: 100%;
  height: 100%;
}

/* Popup */
.popup {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  background-color: #0006034e;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding: 4rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1110px;
  height: 100%;

  /* display: none; */
}
.popup.active {
  visibility: visible;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}
.popup.active::-webkit-scrollbar {
  display: none;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  opacity: 1;
  padding: 2rem 4rem;
  border-radius: 8px;
  gap: 2rem;
  overflow: scroll;
}
.popup__content::-webkit-scrollbar {
  display: none;
}
.input-control {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--color-body);
  padding: 2rem 3rem;
  outline: 0;
  resize: none;
}
.input-control::-webkit-scrollbar {
  display: none;
}

.create-Feedback-area {
  display: flex;
  gap: 2rem;
  justify-content: end;
  /* background-color: red; */
  /* margin-right: 2rem; */
}
@media screen and (max-width: 768px) {
  .create-Feedback-area {
    flex-direction: column;
  }
  .popup.active {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
  aside {
    width: 100%;
  }
  .suggestion__header {
    justify-content: space-evenly;
    gap: rem;
  }
  .suggestion__header__left {
    /* background-color: #2ecc71; */
    justify-content: center;
    gap: 0;
  }
  .suggestion__header__headline {
    padding: 1rem;
    /* background-color: #2ecc71; */
  }
  .roadmap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #2ecc71; */
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 580px) {
  html {
    display: flex;
    align-items: center;
  }
  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* background-color: #2ecc71; */
  }

  .feedback,
  .current-feedback {
    height: 20rem;
    width: 100%;
  }
  .collappseHeader {
    /* background-color: #9c119c; */
  }
  .collapseContainer.active {
    width: 70%;
  }
  #nav {
    display: flex;
    width: 100%;
    /* background-color: #2ecc71; */
  }
  .bloc--suggestion {
    width: 100vw;
    height: fit-content;
  }
  .create-Feedback-area {
    flex-direction: column-reverse;
  }
}
.popup__content .card {
  display: flex;
  width: 100%;
  /* background-color: #3a4374; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__content .card .right {
  /* background-color: red; */
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Form */
.feedBack-detail {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
}
.feedBack-detail-form {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
}
.feedback-details___header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-details___content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: var(--border-radius);
}
.current-feedback__comment {
  /* background-color: #2ecc71; */
}
.current-feedback__comment .left {
  /* background-color: #62bcfa; */
}
.current-feedback__comment .right {
  /* background-color: #62bcfa; */
  flex-grow: 1;
}
.current-feedback__comment .comment__header {
  /* background-color: #62bcfa; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profil {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #373f68;
}
.comment {
  border-bottom: var(--color-border) 4px solid;
}
.user-infos {
  display: flex;
  flex-direction: column;
  /* background-color: #4661e6; */
  gap: 0;
}
.user-infos > p {
  display: inline;
  padding: 0;
  margin: 0 0 1rem 0;
}

.feedback-details___control {
  background-color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}
.feedBack-detail-form .input-control {
  height: 100px;
  font-size: 2rem;
}
.submit-area {
  display: flex;
  margin: 4rem 0;
  justify-content: space-between;
  border: none;
  align-items: center;
}
/* Comment area  */
.roadmap {
  /* background-color: #2ecc71; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1110px;
  flex-wrap: wrap;
  /* width: 100%; */
  color: var(--color-cinq);
}
.roadmap h2,
p {
  margin: 0;
}
.roadmap a {
  font-size: 1.6rem;
}
.roadmap__header {
  display: flex;
  width: 100%;
  /* background-color: #00702f; */
  justify-content: space-between;
  /* gap: 2rem; */
  padding: 5rem;
  color: #fff;
}
.roadmap__header__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
  color: #fff;
}
.roadmap__header__left h2 {
  margin: 0;
  font-size: 2.6rem;
  line-height: 0;
}
.roadmap__header__left .btn--goback2 {
  margin: 0;
  padding: 0;
}
.roadmap__content__container {
  display: flex;
  /* background-color: #2ecc71; */
  /* flex-wrap: wrap; */
  justify-content: center;
  width: 100%;
}
.roadmap__bloc {
  flex-grow: 1;
  /* padding: 3rem; */
  /* background-color: #2ecc71; */
}
.roadmap__bloc__header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: #2ecc71; */
}
.roadmap__bloc__content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #cc552e; */
}
.card--roadmap {
  /* background-color: lightsalmon; */
  border-top: 0.5rem var(--color-fun) solid;
  border-radius: 5px;
  padding: 3rem;
  width: 35rem;
  height: 272px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: #2ecc71; */
}
.card--roadmap .content {
  display: flex;
  justify-content: space-between;
}
.card--roadmap .signal {
  width: 1rem;
  height: 1rem;
}
.card--planned {
  border-color: var(--color-fun);
}
.card--live {
  border-color: var(--color-siss);
}
.card--inprogress {
  border-color: var(--color-septo);
}
.card--live .signal {
  background-color: var(--color-siss);
}
.card--planned .signal {
  background-color: var(--color-fun);
}
.card--inprogress .signal {
  background-color: var(--color-septo);
}
.card--roadmap__header {
  display: flex;
  align-items: center;
}
.card--roadmap__content {
  /* background-color: red; */
}
.card--roadmap__content .header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card--roadmap__content .content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
/* @media screen and (max-width: 900px) {
  .card--roadmap {
    width: 25rem;
    height: 25rem;
  }
} */
.uvoptes {
  color: var(--color-secondary);
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
}
.pan {
  padding: 1rem;
}
.uvoptes::before {
  content: url("../assets/shared/icon-arrow-up.svg");
}
.comment--pan {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.comment--pan .comment__pan__counter {
  font-size: 2rem;
  font-weight: 600;
}
.comment--pan .icon {
  background: none;
  height: 1.8em;
  width: 1.8rem;
  background-color: transparent;
}
.feedback,
.current-feedback {
  /* background-color: #4661e6; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 15rem;
  width: 100%;
  /* justify-content: space-between; */
}
.card--panom {
  display: flex;
}
.feedback .right,
.current-feedback .right {
  align-self: start;
  justify-content: start;
}
.card--comment {
  display: inline-flex;
  /* background-color: #2ecc71; */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: end;
  align-self: center;
  justify-self: end;
  /* background-color: #2ecc71; */
}
/* Fixing Style */

.uvoptes {
  display: inline-flex;
  width: 70px;
  /* background-color: #2ecc71; */
  padding: 1rem;
}
.live-signal {
  background-color: #62bcfa;
}
.card .left {
  display: flex;
  /* background-color: #2ecc71; */
  align-items: start;
  justify-content: start;
  height: 100%;
  /* flex-grow: 1; */
  width: 10%;
}
.card .left .uvoptes {
  /* background-color: #4661e6; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-radius: 10px;
  padding: 3rem 1rem;
}

.pan.uvoptes:hover {
  background-color: #cfd7ff;
}
.pan.uvoptes.active,
.pan.btn--stat.active {
  background-color: #4661e6;
  color: #fff;
}
.pan.uvoptes.active::before {
  content: url("../assets/shared/icon-arrow-up-WHITE.svg");
}
.feedback,
.current-feedback {
  /* background-color: #62bcfa; */
  height: 15rem;
}
.feedback .content,
.current-feedback .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
}
.card--comment {
  flex-grow: 1;
}
.suggestion-total {
  font-size: 1.8rem;
}
.suggestion__header__headline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestion__header__headline h2 {
  font-size: 1.8rem;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.4rem;
}
.active-sort {
  font-weight: 700;
  color: #909ec7;
}
.input-control {
  font-size: 2.2rem;
}
.input-control:focus {
  border: 2px solid var(--color-primary);
}
.popup {
  background-color: transparent;
  box-shadow: 0 0 3rem rgba(128, 128, 128, 0.315);
  width: 1000px;
}
@media screen and (max-width: 768px) {
  body {
    background-color: #f7f8fd;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .container {
    margin: 0;
    padding: 2rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
  }
  #aside__roadmap {
    width: 100%;
    height: 150px;
  }
  #bloc--suggestion {
    width: 100%;
    background-color: #f7f8fd;
    height: fit-content;
  }
  .suggestion__content {
    background-color: #f7f8fd;
  }
  #suggestion__header {
    width: 100%;
  }
  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  body {
    padding: 0;
  }
  .container {
    padding: 0;
    width: 100vw;
  }
  #aside__roadmap {
    width: 100%;
    height: 150px;
  }
  #bloc--suggestion {
    width: 100%;
    /* background-color: #2ecc71; */
  }
  #suggestion__header {
    width: 100%;
    /* background-color: #2ecc71; */
  }
  .suggestion__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 4rem;
    /* overflow: hidden; */
    align-items: center;
    /* justify-content: center; */
  }
  .roadmap {
    display: flex;
    flex-direction: column;
    overflow:scroll ;
  }
  .roadmap__bloc__content {
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* background-color: #2ecc71; */
    position: relative;
    border-radius: 0;
    transition: all ease 0.4s;
    /* background-color: #0000006e; */
  }
  .nav-top {
    width: 100%;
    height: 100%;
  }
  .nav-bottom {
    opacity: 0;
    max-height: 0;
    /* position: absolute;
    top: 100%;
    width: 100%; */
    position: fixed;
    top: 100px;
    width: 100%;
  }
  .nav-bottom.active {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    height: 740px;
    /* background-color: #00000085; */
    z-index: 1;
  }
  .nav-bottom__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f5f3f3;
    height: 100%;
    transition: all ease 0.25s;
    position: absolute;
    left: 150%;
  }
  .nav-bottom.active .nav-bottom__container {
    right: 0;
    left: 40%;
  }
  .nav-bottom__left {
    height: 100%;
    width: 100%;
    background-color: #00000046;
    transition: all ease 0.15s;
  }
  .suggestion__header__headline {
    display: none;
  }
  .card.card-aside.aside__title {
    /* background-image: none; */
    /* background-color: #373f68; */
    height: 10rem;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
  }
  h3.aside__title__text {
    margin: 1rem 0;
  }
  .card.card-aside.aside__title > .aside__title__text {
    /* display: none; */
  }
  .feedback,
  .current-feedback {
    /* background-color: #2ecc71; */
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    /* grid-template-areas: "top""bottomLeft bottomRight"; */
  }
  .feedback .right,
  .current-feedback .right {
    grid-row: 1;
  }
  .feedback .left,
  .current-feedback .left {
    grid-row: 2;
  }
  .feedback .card--comment,
  .current-feedback .card--comment {
    grid-row: 2;
  }
  .aside__title__text-container {
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    color: #fff;
  }
  .btn--hamberger {
    display: flex;
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
    background-color: transparent;
    margin-right: 2rem;
    align-items: center;
  }
  .line {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    transition: 0.3s all ease;
  }
  .line1 {
    transform: translateY(-10px);
  }
  .line3 {
    transform: translateY(10px);
  }
  .btn--hamberger.active .line1 {
    transform: rotate(-135deg);
  }
  .btn--hamberger.active .line3 {
    transform: rotate(135deg);
  }
  .btn--hamberger.active .line2 {
    opacity: 0;
  }
}
