:root {
  --color-primary: #4661e6;
  --color-secondary: #373f68;
  --color-ternary: #647196;
  --color-quard: #f2f4ff;
  --color-cinq: #3a4374;
  --color-siss: #62bcfa;
  --color-septo: #ad1fea;
  --color-octo: #f7f8fd;
  --color-accent: #e74c3c;
  --color-success: #2ecc71;
  --color-fun: #f49f85;
  --color-warning: #f1c40f;
  --color-headings: #ecf0f1;
  --color-links: #ecf0f1;
  --color-body: #d8d8eb;
  --color-border: #95a5a6;
  --color-hover: #f7f7f742;
  --border-radius: 8px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  letter-spacing: 0.25px;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  /* width: fit-content; */
  background-color: var(--color-body);

  font-family: Jost, Inter, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: fit-content;
  padding: 4rem 2rem;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.25px;
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.25px;
}
h3 {
  font-size: 1.8rem;
  letter-spacing: 0.25px;
}
h4 {
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 1rem;
}
span {
  display: inline-flex;
}
/* App container */
.container {
  margin: 8rem 4rem;
  align-self: center;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  scroll-behavior: smooth;
  max-width: 1200px;
}

/* Aside  */
.aside {
  height: 100%;
  width: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  padding: 0;
  justify-content: start;
}
/* Aside cards */
.aside .card {
  background-color: #fff;
  height: 150px;
  padding: 2rem;
}
.card {
  height: 100px;
  width: 100%;
  background-color: #2ecc71;
  border-radius: var(--border-radius);
}
.aside__title {
  background-image: url("/src/assets/suggestions/desktop/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4rem;
}

.aside__cat__header {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.aside__cat__content {
  display: flex;
  flex-wrap: wrap;
}

/* pan */
.pan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  text-transform: capitalize;

  background-color: var(--color-body);
}

.pan--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.aside__cat__header .pan {
  margin-right: 1rem;
  width: 45px;
  height: 20px;
}
.aside__cat__content {
  gap: 2rem;
}
.aside__cat__content .pan {
  padding: 0.5rem 1rem;
}
.aside__roadmap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.view {
  color: var(--color-primary);
  text-decoration: underline;
}
.aside__roadmap__header {
  /* background-color: #2ecc71; */

  justify-content: space-between;
  display: flex;
  align-items: center;
}

.aside__roadmap__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aside__roadmap__content .list {
  /* background-color: rebeccapurple; */
  width: 100%;
}
.aside__roadmap__content .list__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: #4661e6; */
}
.aside__roadmap__content .list__link {
  display: flex;
  align-items: center;
}
.signal {
  height: 6px;
  width: 6px;
  background-color: #2ecc71;
  border-radius: 100%;
  margin-right: 1rem;
}
.live-signal {
  background-color: var(--color-success);
}
.planned-signal {
  background-color: #e7b13c;
}
.inprogress-signal {
  background-color: #9c119c;
}
/* Blocs */

/* Main Blocks */
.bloc--suggestion {
  background-color: var(--color-body);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.card {
  width: 100%;
  height: 150px;
  background-color: #fff;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: #2ecc71; */
    margin: 0;
    justify-content: flex-start;
    padding: 4rem;
  }
  .aside {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: #e74c3c; */
  }
  .bloc--suggestion {
    /* background-color: blue; */

    padding: 0;
  }
  .roadmap__heading {
    font-size: 1.2rem;
  }
  .view {
    font-size: 1.2rem;
  }
}
/* suggestion header */
.suggestion__header {
  background-color: var(--color-secondary);

  width: 100%;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.suggestion__header__left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10rem;
}
.suggestion__header__headline {
  display: flex;
  /* background-color: #2ecc71; */
  color: #fff;
}
.icon {
  display: inline-flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  background: url(/src/assets/suggestions/icon-suggestions.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.suggestion__header__headline .count {
  display: inline-flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 1rem;
}
/* Suggestion content  */

.suggestion__content,
.add__container,
.edit__container {
  background-color: var(--color-body);
  border-radius: var(--border-radius);
  height: 80%;
  width: 100%;
  gap: 2rem;
}

/* btn */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  border-radius: calc(var(--border-radius) + 4px);
  outline: 0;
  border: 0;
  font-size: 2rem;
  color: #fff;
  background-color: var(--color-septo);
}

.btn:hover {
  filter: brightness(1.1);
}
.btn:active {
  filter: brightness(1.5);
}
.btn--default {
  background-color: var(--color-secondary);
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
}
.btn--accent {
  background-color: var(--color-accent);
}
.btn--reply {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 700;
}
.btn--delete {
  background-color: #2ecc71;
}
.btn--goback2 {
  background-color: transparent;
  text-decoration: underline;
  color: #fff;
  font-weight: 600;
  flex-direction: row;
}
.btn--goback2::before {
  content: url("/src/assets/shared/icon-arrow-left.svg");
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
}
/* Suggestion Sort */
.suggestion-sort {
  color: #fff;
}
.suggestion-sort > select {
  background-color: transparent;
  border: 0;
  outline: 0;
}
/* Card suggestion content */
.card--suggestion-content {
  display: flex;
  align-items: flex-start;
  /* background-color: #2ecc71; */
  padding: 3rem auto;
  height: fit-content;
}
.card--suggestion-content .right,
.card--suggestion-content .left {
  color: var(--color-secondary);
  padding: 2rem;
}
.card--suggestion-content .left .pan {
  /* background-color: #4661e6; */
  color: var(--color-secondary);
  width: 25px;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.card--suggestion-content .left .pan::before {
  content: "^";
  display: block;
  color: #4661e6;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.card--suggestion-content .right .header h2 {
  margin: 0;
}
/*****************************Feedback details******************************/
.feedBack-detail {
  width: 100%;
  height: 100%;
}

/* Popup */
.popup {
  max-width: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  background-color: #0006034e;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding: 4rem 8rem;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;

  /* display: none; */
}
.popup.active {
  visibility: visible;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}
.popup.active::-webkit-scrollbar {
  display: none;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  opacity: 1;
  padding: 2rem 4rem;
  border-radius: 8px;
  gap: 2rem;
  overflow: scroll;
}
.popup__content::-webkit-scrollbar {
  display: none;
}
.input-control {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--color-body);
  padding: 2rem 3rem;
  outline: 0;
  resize: none;
}
.input-control::-webkit-scrollbar {
  display: none;
}

.create-Feedback-area {
  display: flex;
  gap: 2rem;
  justify-content: end;
  /* background-color: red; */
  /* margin-right: 2rem; */
}
@media screen and (max-width: 768px) {
  .create-Feedback-area {
    flex-direction: column;
  }
  .popup.active {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
}
.popup__content .card {
  display: flex;
  width: 100%;
  /* background-color: #3a4374; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__content .card .right {
  /* background-color: red; */
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Form */
.feedBack-detail {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
}
.feedBack-detail-form {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
}
.feedback-details___header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-details___content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: var(--border-radius);
}
.current-feedback__comment {
  /* background-color: #2ecc71; */
}
.current-feedback__comment .left {
  /* background-color: #62bcfa; */
}
.current-feedback__comment .right {
  /* background-color: #62bcfa; */
  flex-grow: 1;
}
.current-feedback__comment .comment__header {
  /* background-color: #62bcfa; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profil {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #373f68;
}
.comment {
  border-bottom: var(--color-border) 4px solid;
}
.user-infos {
  display: flex;
  flex-direction: column;
  /* background-color: #4661e6; */
  gap: 0;
}
.user-infos > p {
  display: inline;
  padding: 0;
  margin: 0 0 1rem 0;
}

.feedback-details___control {
  background-color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}
.feedBack-detail-form .input-control {
  height: 100px;
  font-size: 2rem;
}
.submit-area {
  display: flex;
  margin: 4rem 0;
  justify-content: space-between;
  border: none;
  align-items: center;
}
/* Comment area  */
.roadmap {
  /* background-color: #2ecc71; */
  width: 100%;
  color: var(--color-cinq);
}
.roadmap h2,
p {
  margin: 0;
}
.roadmap a {
  font-size: 1.6rem;
}
.roadmap__header {
  display: flex;
  /* background-color: #00702f; */
  justify-content: space-between;
  /* gap: 2rem; */
  padding: 5rem;
  color: #fff;
}
.roadmap__header__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
  color: #fff;
}
.roadmap__header__left h2 {
  margin: 0;
  font-size: 2.6rem;
  line-height: 0;
}
.roadmap__header__left .btn--goback2 {
  margin: 0;
  padding: 0;
}
.roadmap__content__container {
  display: flex;
  gap: 2rem;
  /* background-color: #2ecc71; */
}
.roadmap__bloc {
  flex-grow: 1;
  padding: 3rem;
  /* background-color: #2ecc71; */
}
.roadmap__bloc__header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: #2ecc71; */
}
.roadmap__bloc__content {
  display: flex;
  flex-direction: column;
  /* background-color: #cc552e; */
}
.card--roadmap {
  /* background-color: lightsalmon; */
  border-top: 0.5rem var(--color-fun) solid;
  border-radius: 5px;
  padding: 3rem;
  width: 350px;
  height: 272px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: #2ecc71; */
}
.card--roadmap .content{
  display: flex;
  justify-content: space-between;
}
.card--roadmap .signal {
  width: 1rem;
  height: 1rem;
}
.card--planned {
  border-color: var(--color-fun);
}
.card--live {
  border-color: var(--color-siss);
}
.card--inprogress {
  border-color: var(--color-septo);
}
.card--live .signal {
  background-color: var(--color-siss);
}
.card--planned .signal {
  background-color: var(--color-fun);
}
.card--inprogress .signal {
  background-color: var(--color-septo);
}
.card--roadmap__header {
  display: flex;
  align-items: center;
}
.card--roadmap__content {
  /* background-color: red; */
}
.card--roadmap__content .header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card--roadmap__content .content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.uvoptes {
  color: var(--color-secondary);
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
}
.pan {
  padding: 1rem;
}
.uvoptes::before {
  content: url("/src/assets/shared/icon-arrow-up.svg");
}
.comment--pan {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.comment--pan .comment__pan__counter {
  font-size: 2rem;
  font-weight: 600;
}
.comment--pan .icon {
  background: none;
  height: 1.8em;
  width: 1.8rem;
  background-color: transparent;
}
